<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommendation System</title>
</head>

<body>

    <h1>Movie Recommendation System</h1>

    <form action="/recommend" method="POST">

        <select name="movie">

            {% for movie in movies %}
                <option>{{ movie }}</option>
            {% endfor %}

        </select>

        <button type="submit">
            Recommend
        </button>

    </form>

    {% if recommendations %}

        <h2>Recommended Movies for {{ selected_movie }}</h2>

        <ul>

            {% for movie in recommendations %}
                <li>{{ movie }}</li>
            {% endfor %}

        </ul>

    {% endif %}

</body>
</html>